@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh; /* Zapewni, że tło obejmuje cały ekran */
    background-image: url("../../public/assets/db-image.png"), url("../../public/assets/anaconda-image.png");
    background-position: 20% 120%, 98% 10%;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
}

